APP_NAME=app-template

# Airtable: https://support.airtable.com/docs/creating-and-using-api-keys-and-access-tokens
AIRTABLE_PERSONAL_ACCESS_TOKEN=

# BlueDot Impact Slack, #tech-dev-alerts
ALERTS_SLACK_CHANNEL_ID=C04SFUECECU
# For (local) BlueBot see https://airtable.com/appnNmNoNMB6crg6I/tbllthJ2YSPDsKWCt/viwfjWLvplq6Xw93D/recqurdJTPWzm5y4W
# For (prod) BlueBot see https://api.slack.com/apps/A04PV2GAQRY/install-on-team
# Starts 'xoxb-'
ALERTS_SLACK_BOT_TOKEN=IGNORE_SLACK_ALERTS

WEBSITE_ASSETS_BUCKET_ACCESS_KEY_ID=
WEBSITE_ASSETS_BUCKET_SECRET_ACCESS_KEY=
