@import 'tailwindcss';
@import '../../../libraries/ui/src/default-config/tailwind.css';

@plugin "@tailwindcss/typography";

@theme {
  --animate-infinite-scroll: infinite-scroll 50s linear infinite;

  @keyframes infinite-scroll {
    0% { transform: translateX(0) }
    100% { transform: translateX(-100%) }
  }
}

@utility prose {
  :not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    /* Bullets should inherit text color */
    &:where(li) {
      &::marker {
        @apply text-inherit
      }
    }

    /* https://bluedotimpact.slack.com/archives/C08LQKWBX9B/p1745428606815279 */
    &:where(blockquote) {
      /* Disable quote marks */
      p:first-of-type::before,
      p:last-of-type::after {
        content: none;
      }
      /* Disable italics */
      p {
        @apply not-italic
      }
    }

    /* Disable code backticks */
    &:where(code) {
      &::before,
      &::after {
        content: none;
      }
    }

    /* Hovering link color */
    &:where(a) {
      @apply hover:text-color-primary-accent
    }

    /* Links in headings should be the same font weight
    * See https://github.com/tailwindlabs/tailwindcss-typography/issues/391 */
    &:where(h1, h2, h3, h4, h5, h6) {
      a {
        font-weight: inherit;
      }
    }
  }
}

.slide-up-fade-in {
  opacity: 0;
  transform: translateY(50px);
  animation: slideUpFadeIn 0.5s forwards cubic-bezier(0, 0, 0, 1);
}

@keyframes slideUpFadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
