@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Reckless Neue";
  src: url("/fonts/RecklessNeue-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal
}

@font-face {
  font-family: "Reckless Neue";
  src: url("/fonts/RecklessNeue-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: italic
}

@font-face {
  font-family: "Roobert";
  src: url("/fonts/Roobert-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal
}

@font-face {
  font-family: "Roobert";
  src: url("/fonts/Roobert-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal
}

@font-face {
  font-family: "Roobert";
  src: url("/fonts/Roobert-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal
}

html {
  @apply bg-cream-normal text-bluedot-black antialiased
}

html, body {
  height: 100%;
  margin: 0;
}