# This file will be picked up by the deploy script for production environment.
NEXT_PUBLIC_GTM_ID=GTM-MQGF4XG
NEXT_PUBLIC_POSTHOG_KEY=phc_NVqRwH6xZ0MiP9I5a9tx3l9zsTWBvMI1YEbvbCOXDcI

NEXT_PUBLIC_SITE_URL=https://bluedot.org

# Sentry
SENTRY_DSN=https://44dfe900ca304b3fb58fc92f719393c5@o4511885459652608.ingest.de.sentry.io/4511885468500049
NEXT_PUBLIC_SENTRY_DSN=https://44dfe900ca304b3fb58fc92f719393c5@o4511885459652608.ingest.de.sentry.io/4511885468500049
NEXT_PUBLIC_SENTRY_ENVIRONMENT=production
