# This file will be picked up by the deploy script for staging environment.
NEXT_PUBLIC_GTM_ID=GTM-KLCM59L7
NEXT_PUBLIC_POSTHOG_KEY=phc_6lpcdfa5r3lWXPLqYExFejWNjLXcKv0HULDZwnK5cdF

NEXT_PUBLIC_SITE_URL=https://website-staging.k8s.bluedot.org

# Sentry
SENTRY_DSN=https://44dfe900ca304b3fb58fc92f719393c5@o4511885459652608.ingest.de.sentry.io/4511885468500049
NEXT_PUBLIC_SENTRY_DSN=https://44dfe900ca304b3fb58fc92f719393c5@o4511885459652608.ingest.de.sentry.io/4511885468500049
NEXT_PUBLIC_SENTRY_ENVIRONMENT=staging

