@source '../**/*.{js,ts,jsx,tsx}';

@theme {
    --color-color-text: var(--bluedot-black);
    --color-color-text-on-dark: var(--bluedot-cream-normal);
    --color-color-secondary-text: var(--bluedot-darker);
    --color-color-canvas: var(--bluedot-cream-normal);
    --color-color-canvas-dark: var(--bluedot-darker);
    --color-color-primary: var(--bluedot-normal);
    --color-color-secondary: var(--bluedot-lighter);
    --color-color-primary-accent: var(--bluedot-normal);
    --color-color-secondary-accent: var(--bluedot-lighter);
    --color-color-divider: var(--bluedot-charcoal-light);

    --color-bluedot-lightest: var(--bluedot-lightest);
    --color-bluedot-lighter: var(--bluedot-lighter);
    --color-bluedot-light: var(--bluedot-light);
    --color-bluedot-normal: var(--bluedot-normal);
    --color-bluedot-dark: var(--bluedot-dark);
    --color-bluedot-darker: var(--bluedot-darker);
    --color-bluedot-black: var(--bluedot-black);

    --color-charcoal-light: var(--bluedot-charcoal-light);
    --color-charcoal-normal: var(--bluedot-charcoal-normal);

    --color-aisf-lighter: var(--bluedot-aisf-lighter);
    --color-aisf-light: var(--bluedot-aisf-light);
    --color-aisf-normal: var(--bluedot-aisf-normal);
    --color-aisf-dark: var(--bluedot-aisf-dark);
    --color-aisf-darker: var(--bluedot-aisf-darker);

    --color-pandemics-lighter: var(--bluedot-pandemics-lighter);
    --color-pandemics-light: var(--bluedot-pandemics-light);
    --color-pandemics-normal: var(--bluedot-pandemics-normal);
    --color-pandemics-dark: var(--bluedot-pandemics-dark);
    --color-pandemics-darker: var(--bluedot-pandemics-darker);

    --color-cream-normal: var(--bluedot-cream-normal);
    --color-cream-dark: var(--bluedot-cream-dark);

    --font-sans:
        Roobert, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif:
        'Reckless Neue', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;

    --text-size-xs: var(--text-size-xs);
    --text-size-xs--line-height: 1.2;
    --text-size-sm: var(--text-size-sm);
    --text-size-sm--line-height: 1.2;
    --text-size-md: var(--text-size-md);
    --text-size-md--line-height: 1.2;
    --text-size-lg: var(--text-size-lg);
    --text-size-lg--line-height: 1.2;
    --text-size-xl: var(--text-size-xl);
    --text-size-xl--line-height: 1.2;

    --spacing-max-width: var(--max-width);
    --spacing-spacing-x: var(--spacing-x);
    --spacing-spacing-y: var(--spacing-y);
    --spacing-space-between: var(--space-between);
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-stone-200, currentColor);
    }

    .bluedot-h1 {
        @apply text-color-secondary-text font-sans text-size-xl font-bold;
    }
    .bluedot-h2 {
        @apply text-color-secondary-text font-sans text-size-xl font-bold;
    }
    .bluedot-h3 {
        @apply text-color-secondary-text font-sans text-size-lg font-[650];
    }
    .bluedot-h4 {
        @apply text-color-secondary-text font-sans text-size-md font-[650];
    }
    .bluedot-p {
        @apply text-color-text font-sans text-size-sm font-normal;
    }
    .bluedot-a {
        @apply text-color-secondary-text hover:text-color-primary-accent cursor-pointer underline;
    }
}

@utility bluedot-base {
    @apply min-h-screen flow-root bg-cream-normal text-bluedot-black antialiased
}

@utility container-lined {
    @apply border border-color-divider rounded-lg;
}

@utility container-active {
    @apply border-2 border-color-primary rounded-lg;
}

@utility container-elevated {
    /* RGBA of var(--bluedot-cream-normal) */
    box-shadow: 0px 4px 1.25rem 0px rgba(30, 30, 30, 0.1);
}

@utility container-dialog {
    @apply border border-color-primary rounded-lg;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.25);
}

@utility scrollbar-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

/* Base section class that just applies padding and centering, suitable for nav, footer etc */
@utility section-base {
    @apply w-full max-w-max-width mx-auto px-spacing-x;
}

/* Class for titled sections in the body of the page */
@utility section-body {
    /* pb-10 because pb-spacing-y doesn't look quite right */
    @apply w-full max-w-max-width mx-auto px-spacing-x pt-6 pb-10 border-b border-color-divider overflow-hidden flex flex-col;
}

@utility nav-link-animation {
    @apply relative transition-[translate] duration-200;
    @apply hover:text-current hover:-translate-y-[4px];
    /* underline is applied by ::after psuedoelement for consistency across text and incorporated SVGs */
    @apply after:content-[""] after:invisible after:absolute after:bg-bluedot-normal after:transition-[translate] after:duration-200 after:left-0 after:bottom-0 after:w-full after:h-[2px];
    @apply hover:after:visible hover:after:translate-y-[4px];
}

@utility nav-link-animation-dark {
    @apply after:bg-bluedot-lighter;
}

@utility link-on-dark {
    @apply text-color-text-on-dark hover:text-color-secondary-accent cursor-pointer;
}


@utility prose {
    :not(:where([class~="not-prose"],[class~="not-prose"] *)) {
        /* Bullets should inherit text color */
        &:where(li) {
            &::marker {
                @apply text-inherit
            }
        }
    
        /* https://bluedotimpact.slack.com/archives/C08LQKWBX9B/p1745428606815279 */
        &:where(blockquote) {
            /* Disable quote marks */
            p:first-of-type::before,
            p:last-of-type::after {
                content: none;
            }
            /* Disable italics */
            p {
                @apply not-italic
            }
        }
    
        /* Disable code backticks */
        &:where(code) {
            &::before,
            &::after {
                content: none;
            }
        }
    
        /* Hovering link color */
        &:where(a) {
            @apply hover:text-color-primary-accent
        }
    
        /* Links in headings should be the same font weight
        * See https://github.com/tailwindlabs/tailwindcss-typography/issues/391 */
        &:where(h1, h2, h3, h4, h5, h6) {
            a {
                font-weight: inherit;
            }
        }
    }
}

:root {
    --bluedot-lightest: #F5F4F7;
    --bluedot-lighter: #CCD7FF;
    --bluedot-light: #6687FF;
    --bluedot-normal: #0037FF;
    --bluedot-dark: #002199;
    --bluedot-darker: #00114D;
    --bluedot-black: #1E1E1E;
  
    --bluedot-charcoal-light: #CCCCCC;
    --bluedot-charcoal-normal: #1E1E1E;
  
    --bluedot-aisf-lighter: #E6B3FF;
    --bluedot-aisf-light: #D680FF;
    --bluedot-aisf-normal: #C64EFF;
    --bluedot-aisf-dark: #9C00E5;
    --bluedot-aisf-darker: #560080;
  
    --bluedot-pandemics-lighter: #C7F7C0;
    --bluedot-pandemics-light: #78EB66;
    --bluedot-pandemics-normal: #34CE1B;
    --bluedot-pandemics-dark: #1D7510;
    --bluedot-pandemics-darker: #11430A;
  
    --bluedot-cream-normal: #FFFCF7;
    --bluedot-cream-dark: #D9D6D2;
  
    --max-width: 1436px;
  
    --spacing-x-lg: 3rem; /* 48px */
    --spacing-x-md: 3rem; /* 48px */
    --spacing-x-sm: 1.5rem; /* 24px */
    --spacing-y-lg: 1.5rem; /* 24px */
    --spacing-y-md: 1.5rem; /* 24px */
    --spacing-y-sm: 1.5rem; /* 24px */
    --space-between-lg: 1rem; /* 16px */
    --space-between-md: 1rem; /* 16px */
    --space-between-sm: 0.5rem; /* 8px */
  
    /* Default breakpoint values */
    --text-size-xs: 0.875rem; /* 14px */
    --text-size-sm: 1rem; /* 16px */
    --text-size-md: 1.125rem; /* 18px */
    --text-size-lg: 1.5rem; /* 24px */
    --text-size-xl: 2rem; /* 32px */
    --spacing-x: var(--spacing-x-sm); /* For horizontal section padding */
    --spacing-y: var(--spacing-y-sm); /* For vertical section padding */
    --space-between: var(--space-between-sm); /* For space between items */
}

/* Maps to Tailwind "md" breakpoint */
@media (width >= 48rem) {
    :root {
        --text-size-xl: 3rem; /* 48px */
        --spacing-x: var(--spacing-x-md); /* For horizontal section padding */
        --spacing-y: var(--spacing-y-md); /* For vertical section padding */
        --space-between: var(--space-between-md); /* For space between items */
    }
 }
 
/* Maps to Tailwind "lg" breakpoint */
@media (width >= 64rem) {
    :root {
        --spacing-x: var(--spacing-x-lg); /* For horizontal section padding */
        --spacing-y: var(--spacing-y-lg); /* For vertical section padding */
        --space-between: var(--space-between-lg); /* For space between items */
    }
}

@font-face {
    font-family: "Reckless Neue";
    src: url("https://bluedot.org/fonts/RecklessNeue-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal
}

@font-face {
    font-family: "Reckless Neue";
    src: url("https://bluedot.org/fonts/RecklessNeue-LightItalic.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: italic
}

@font-face {
    font-family: "Reckless Neue";
    src: url("https://bluedot.org/fonts/RecklessNeue-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal
}

@font-face {
    font-family: "Roobert";
    src: url("https://bluedot.org/fonts/Roobert-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal
}

@font-face {
    font-family: "Roobert";
    src: url("https://bluedot.org/fonts/Roobert-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal
}

@font-face {
    font-family: "Roobert";
    src: url("https://bluedot.org/fonts/Roobert-SemiBold.woff2") format("woff2");
    font-weight: 650;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal
}

@font-face {
    font-family: "Roobert";
    src: url("https://bluedot.org/fonts/Roobert-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal
}
