# Random data, consider `openssl rand -hex 20`
BUBBLE_SHARED_SECRET=9cfba226992bff553346340dc453f99ec66b60ef
# Keycloak client credentials grant secret
# https://login.bluedot.org/admin/master/console/#/master/clients/842fc91c-b757-4733-ab63-c2798a5f387b
KEYCLOAK_CLIENT_SECRET=

# BlueDot Impact Slack, #tech-dev-alerts
ALERTS_SLACK_CHANNEL_ID=C04SFUECECU
# For (local) BlueBot see https://airtable.com/appnNmNoNMB6crg6I/tbllthJ2YSPDsKWCt/viwfjWLvplq6Xw93D/recqurdJTPWzm5y4W
# For (prod) BlueBot see https://api.slack.com/apps/A04PV2GAQRY/install-on-team
# Starts 'xoxb-'
ALERTS_SLACK_BOT_TOKEN=
